body{
	text-align: center;
}
#box{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 3px solid blue;
	background: yellow;
	outline: 7px solid red;
	
#text{
	font: bold 30px Century Gothic;





/*   22-    */