body{
	text-align: center;
}
#box{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 3px solid blue;
	background: orange;
	-webkit-border-radius:10px;
}
#text{
	font: bold 30px Century Gothic;
}