body{
	text-align: center;
}
#box{
	display: block;
	width: 500px;
	margin: 50px auto;
	padding: 15px;
	text-align: center;
	border: 3px solid blue;
	/*  background: orange;  */
	/*  background: -webkit-linear-gradient(top, black,white);   */
	/*  background: -webkit-linear-gradient(45deg, black,white);  */
	/*  background: -webkit-radial-gradient(center, red 0%, orange 50%);  /*left off circle so looks like an elipse*/
	background: -webkit-radial-gradient(center, circle, red 0%, orange 50%); 
	-webkit-border-radius:60px;
	-webkit-box-shadow:rgb(100,100,100) 15px 15px 9px;
	 /* inset    will make it look like it's inside  */}
#text{
	font: bold 30px Century Gothic;
	text-shadow:rgb(100,100,100)5px 5px 5px;




/*   22-    */