*{
	margin: 0px;
	padding: 0px;
}
h1{
	font:bold 20px Tahoma;
}
h2{
	font:bold 14px Tahoma;
}
header, section, footer, aside, nav, article, hgroup{
	display: block;
}
body{
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
}
#big_wrapper{
	max-width: 1000px
	margin: 20px 0px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;
}
#top_header{
	background: yellow;
	border: 3px solid black;
	padding: 20px;
}