*{
	margin: 0px;
	padding: 0px;
}
#parent1{
	border: 2px solid blue;
	display: -webkit-box;
	width: 800px;
	-webkit-orient: horizontal;
	-webkit-box-pack: center;
}
#child1{
	border: 2px solid red;
	background: green;
	padding: 20px;
	margin: 15px;
	width: 80px;
	-webkit-box-ordinal-group: 2;
}
#child2{
	border: 2px solid red;
	background: yellow;
	padding: 20px;
	margin: 15px;
	width: 80px;
	-webkit-box-ordinal-group: 3;
}
#child3{
	border: 2px solid red;
	background: cyan;
	padding: 20px;
	margin: 15px;
	width: 80px;
	-webkit-box-ordinal-group: 4;
}
#child4{
	border: 2px solid red;
	background: orange;
	padding: 20px;
	margin: 15px;
	width: 80px;
	-webkit-box-ordinal-group: 1;
}


/*  <!--   18   -->    */